/*BASE*/
h1 {
    font-family: "Parisienne", cursive;
    text-align: center;
    color: #ffffff;
    font-size: 72px;
    padding-top: 250px;
    margin-top: 0px;
}

h2 {
     font-family: "Roboto", sans-serif;
}

.center {
    text-align: center;
}

body {
    background-color: #e6e6e6;
}

/*NAVBAR*/

nav.navbar.navbar-default {
    margin: 0px;
}

.navbar-default {
    border-radius: 0px;
    background-color: #222;
    border-color: #222;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #000000;
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover { /*hover */
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { /*mobile hover*/
    background-color: #000;
}

/*NAVBAR MEDIA for changing collapse */ 

@media (max-width: 975px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/*LOGO*/

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover { /*logo hover*/
    color: #ffffff;
}

a.navbar-brand {
    font-family: "Parisienne", cursive;
    font-size: 22px;
}

/*WELCOME*/
.home {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('images/test2.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.carousel-inner  img {
    position: relative;
}
.carousel-inner img:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

#carousel-example-generic {
    position: relative;
}
.carousel-header {
    position: absolute;
    top: 50%;
    left: 50%;
    padding : 0;
    z-index: 999999;
    transform: translate(-50%, -50%);
}

.home2 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('images/home2.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.carousel-inner  img {
    position: relative;
}
.carousel-inner img:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

#carousel-example-generic {
    position: relative;
}
.carousel-header {
    position: absolute;
    top: 50%;
    left: 50%;
    padding : 0;
    z-index: 999999;
    transform: translate(-50%, -50%);
}

.home3 {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('images/home3.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.carousel-inner  img {
    position: relative;
}
.carousel-inner img:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

#carousel-example-generic {
    position: relative;
}
.carousel-header {
    position: absolute;
    top: 50%;
    left: 50%;
    padding : 0;
    z-index: 999999;
    transform: translate(-50%, -50%);
}

.date {
    font-size: 22px;
}

.body_content {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.arrow {
    width: 100%;
}

/*WHENWHERE*/
.whenwhere {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('images/beach.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


/*TRAVEL*/
.travel {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('images/majestic.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

/*RSVP*/
.rsvp {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('images/flight.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;


}

.party {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('images/flowers.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.schedule {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('images/schedule.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/*REGISTRY*/
.registry {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),  url('images/registry.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}


/*COUNTDOWN*/
#countdown {
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
}

/*FOOTER*/
.footer_body {
    background-color: #222222;
}

.footer {
    font-size: 16px;
    font-family: "Parisienne", cursive;
    color: white;
    text-align: right;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
}


/*MOBILE*/
@media (max-width: 900px) {
    .home{
        height: 85vh;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
     .home2{
        height: 85vh;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
     .home3{
        height: 85vh;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .whenwhere{
        height: 85vh;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .travel{
        height: 85vh;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

.rsvp{
        height: 85vh;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }


.registry{
        height: 85vh;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .schedule{
        height: 85vh;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }


}
@media (max-width: 990px) {
    .enegagement {
        display: none;
    }
}



img.wparty {
    height: 250px;
    width: 250px;
}

.heart {
    height: 70px;
}

