/*BASE*/
h1 {
    font-family: "Parisienne", cursive;
    text-align: center;
    color: #ffffff;
    font-size: 72px;
    padding-top: 250px;
    margin-top: 0px;
}

.center {
    text-align: center;
}

/*NAVBAR*/

nav.navbar.navbar-default {
    margin: 0px;
}

.navbar-default {
    border-radius: 0px;
    background-color: #222;
    border-color: #222;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #000000;
}

/*OUR STORY*/
.home {
background-image:url('images/overlay1.png');
height: 100vh;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;

}

/*WHENWHERE*/
.whenwhere {
background-image:url('images/beach.png');
height: 100vh;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;

}

/*TRAVEL*/
.travel {
background-image:url('images/travel.png');
height: 100vh;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;

}

/*RSVP*/
.rsvp {
background-image:url('images/plane.jpg');
height: 100vh;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;

}

/*REGISTRY*/
.registry {
background-image:url('images/registry.jpg');
height: 100vh;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;

}


/*COUNTDOWN*/
#countdown {
    text-align: center;
  font-size: 60px;
  padding-top: 30px;
}

/*FOOTER*/
.footer {
    text-align: right;
    padding-right: 30px;
    padding-bottom: 10px;
}

